* {
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*font-family: sans-serif;
  font-size: 18px;
  margin: auto 1rem 60px;*/
  /*padding-top: 70px;*/
}

a {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

footer {
  position: absolute;
  bottom: 25px;
  left:   5%;
  width:  90%;
  font-size: 1rem;
  height: 60px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

header,
main,
footer {
  text-align: center;
}

header {
  text-transform: uppercase;
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#exampleInputEmail1.red-border {
  border: 2px solid red;
}

.nav-wrapper {
  background-color: black;

}

.brand-logo {
  text-align: left;
}
.alert{
    display: none;
}
/*.trim-info {
      max-width: 50px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 15px;
      position: relative;
   }*/
.slider .indicators .indicator-item.active {
    background-color: rgba(76, 175, 80, 0);
}
.blue-grey.darken-1 {
    background-color: rgba(84, 110, 122, 0) !important;
}
/*.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    width: 273px;
    height: 286px;
}*/
.profilename {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
  margin:24px;
  font-size: 30px;
}


.row .col.m6 {
    width: 72%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.material-icons {
  color: #26A69A;
}
.m-xs-top-bottom {
  font-size: 54px;
}
.o-user-type-selection {
  font-size: 21px;
}
