<section>
      <div class="heading">
        <h1>All Jobs</h1>
      </div>
      <div class="container">
      <input type="text" ng-model="search" placeholder="search...">
      </div>
      <!-- <div class="container"> -->
      <table class="highlight">
      <!-- <ul id="services"> -->
      <thead>
      <tr>
        <th>Title</th>
        <th>Categories</th>
        <!-- class="text-center" -->
        <th>Location</th>
        <th>Pay</th>
        <th>Date Posted</th>
        <th>Apply</th>
        <!-- class="text-right" -->
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="service in services.all | filter: search">
         <!-- ng-click ="services.updateStatus(service)" class="status {{service.categories}}"> -->
          <td>{{service.title}}</td>
          <td>{{service.categories}}</td>
          <td>{{service.location}}</td>
          <td>{{service.price | currency : "$" : "0"}}/hr</td>
          <td>{{service.created | date : "MM/dd/yyyy" : timezone}}</td>
          <td><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">{{services.emails[service.userId]}}</a></td>
          <!-- <button ng-click="services.removeService(service)" class="delete">X</button> -->
        </tr>
      <!-- </ul> -->
      </tbody>
      </table>
      <!-- </div> -->


    <!--   <form id="newService" ng-submit="services.addService()">
        <div>
          <label for="title">Title:</label>
          <input type="text" name="title" ng-model="services.newService.title">
        </div>
        <div>
          <label for="location">Location:</label>
          <input type="text" ng-model="services.newService.location" name="location">
        </div>
        <div>
          <label for="categories">Categories:</label>
          <select name="categories" ng-model="services.newService.categories">
            <option value="web dev">Web Dev</option>
            <option value="photography">Photography</option>
            <option value="cleaning">Cleaning</option>
          </select>
        </div>
        <div>
          <input type="submit" value="Add Service">
        </div>
      </form> -->

    </section>
